pre {
  white-space: break-spaces;
}

.page_wrapper {
  margin: 5rem auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  border: 0;
  border-bottom: 1px solid #fcee0c;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fcee0c;
  width: 50%;
  margin: 0 auto;

  &::placeholder {
    color: #fcee0c;
  }

  &:focus {
    outline: none;
    color: #fff;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
      0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 760px;
}
.tabs {
  position: relative;
  margin: 3rem 0;
  background: #9d1abc;
  display: flex;
  flex-direction: column;
  min-height: 506px;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #e2d305;
  border-bottom: 0.125rem solid #16a085;
  color: #001eff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  min-height: 100%;
  padding: 0 1rem;
  background: #fcee0c;
  color: #001eff;
  opacity: 0;
  transition: all 0.35s;
  max-width: 400px;
}
.tab-switch:checked + .tab-label {
  background: #fcee0c;
  color: #001eff;
  border-bottom: 0;
  border-right: 0.125rem solid #001eff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.1625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

.party_time:hover {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: party-time-text;
}

@keyframes party-time-text {
  0% {
    color: red;
  }
  16.6667% {
    color: #ff0;
  }
  33.3333% {
    color: lime;
  }
  50% {
    color: cyan;
  }
  66.6667% {
    color: blue;
  }
  83.3333% {
    color: #f0f;
  }
  100% {
    color: red;
  }
}
