/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(63, 2, 63);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}